.formPage h2,
.formPage p {
  text-align: center;
  margin-bottom: 1rem;
}
.formPage p {
  color: #7703fc;
}

.formPage form {
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 12px;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.formPage label {
  color: #747990;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formPage input,
.formPage textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
}

.formPage input::placeholder {
  color: #a4a7b4;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 2rem;
}

.formPage .servicesContainer {
  padding: 0;
}

.servicesContainer .service {
  width: 24%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.servicesContainer .service img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.formPage .service {
  max-width: 29%;
  text-align: center;
}

.formPage .service p {
  margin-bottom: 0;
}

.formPage .checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.formPage .checkboxContainer p {
  color: #747990;
  font-size: 0.7rem;
  margin-bottom: 0;
}

.formPage .serviceName {
  font-weight: bold;
}
.formPage .servicePrice {
  color: #747990;
}

.formPage .btn {
  max-width: 170px;
  margin: 0 auto;
  font-size: 1.2rem;
}

input[type="checkbox"] {
  transform: scale(2);
  cursor: pointer;
  accent-color: #7703fc; /* cor quando marcado */
  transform: scale(1.5); /* opcional: aumentar */
  cursor: pointer;
}
