.home h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.partiesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1dvw;
  padding: 0 2dvw;
}

.partiesContainer p {
  text-align: center;
}

.partiesContainer .party {
  width: 23dvw;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.partiesContainer .party img {
  width: 100%;
  height: 32dvh;
  object-fit: cover;
}

.partiesContainer .btn2 {
  max-width: 120px;
  text-align: center;
}
