.party h1,
.party h3,
.party p {
  text-align: center;
  margin-bottom: 1rem;
}

.actionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.party .servicesContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 1dvw;
  padding: 0 2dvw;
}

.servicesContainer .service {
  width: 23dvw;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.servicesContainer .service img {
  width: 100%;
  height: 35dvh;
  object-fit: cover;
}
